#logos-container {
    display: flex;
    padding: 10px 10px;
    background: #ceb698;
    justify-content: space-around;
}

#logos-container a {
    color: #f3ece4;
    text-decoration: none;
}

/* 
@media screen and (min-width: 1224px) {

    #logos-container {
        padding: 8px 10px 1px 10px;
        background: #ceb3a7;
    }

    #logos-container a p {
        font-size: 14px;
    }

}
 */

@media screen and (min-width: 1224px) {

    #logos-container {
        position: fixed;
        top: 8px;
        left: 0;
        background: none;
        z-index: 4;
        cursor: pointer;
    }

    #logos-container a {
        color: red;
        text-decoration: underline;
        display: block;
    }

    #phone {
        margin: auto 20px;
    }

   
}