#questions-container {
    position: relative;
    background: #ffffec;      
    border: 30px solid #eee097;
    /* height: calc(100% - 132.4px); */
    overflow-y: scroll;
    overflow-x: hidden;
}

#questions-header {
    font-size: 30px;
    font-weight: bold;
    color: #8848b5;
    padding-bottom: 10px;
    padding-top: 30px;
}

#questions-container .details {
    margin: 30px 5%;
    text-align: right;
    line-height: 1.6;
    font-size: 18px;
    color: #8848b5; 
}

#questions-container .details strong {
    color: #8848b5;
}

#questions-container .details .tourLink {
    margin-right: 0;
}

#questions-container .tourLink {
    margin: 16px 5%;
    text-align: right;
    line-height: 1.6;
    font-size: 18px;
    color: #7c3392; 
}


@media screen and (min-width: 1224px) {

    #questions-container {
        /* height: auto; */
        overflow-y: hidden;
        overflow-x: hidden;
    }


    #topGradientForQuestions {
        height: 82px;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background: -webkit-linear-gradient(#8B0000 0%, #8B0000 52px,#eee097 53px,#eee097 100%);
        background: linear-gradient(#8B0000 0%, #8B0000 52px,#eee097 53px,#eee097 100%);
    }

    #questions-header {
        padding-top: 94px;
    }

}

