#questions-container {
    /* padding-top: 40px;
    padding-bottom: 40px; */
    position: relative;
    background: #ffffec;      /*ecd978 */
    border: 30px solid #eee097;
    height: calc(100vh - 132.4px);
    overflow: scroll;
}

#questions-header {
    font-size: 30px;
    font-weight: bold;
    color: #8848b5;
    padding-bottom: 10px;
    padding-top: 30px;
}

#questions-container .details {
    margin: 30px 5%;
    /* margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 16px; */
    text-align: right;
    line-height: 1.6;
    font-size: 18px;
    color: #8848b5; /*92439B  */
}

#questions-container .details strong {
    color: #8848b5; /*92439B  */
}

#questions-container .details .tourLink {
    margin-right: 0;
}

#questions-container .tourLink {
    margin: 16px 5%;
    /* margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 16px; */
    text-align: right;
    line-height: 1.6;
    font-size: 18px;
    color: #7c3392; /*92439B  */
}


