#whoCanCome-container{
    display: block;
    background: #ffffec;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

#allKindOfVisitors-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}

#whoCanCome-container .svgGrandfather {
    flex-basis: 50%;
}

#whoCanCome-container .svgGrandfather p {
    margin-bottom: 35px;
    font-size: 18px;
}

#whoCanCome-container #whoCanCome-header {
    flex-basis: 100%;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #483697;
}

#whoCanCome-container #travelers-container #travelers {
    padding-bottom: 6px;
}

#radio {
    display: block;
    width: 35%;
    position: absolute;
    top: -38px;
    right: 15px;
}


 @media screen and (min-width: 1224px) {

    #textualInfo-container #whoCanCome-container {
        display: block;
        text-align: center;
        width: 250px;
        border: 3px #ecd978 dotted;
        transform: translate(3px, 8px) rotateZ(0deg);
        box-shadow: 5px 5px 4px #888;
        opacity: 0;
    }

    #textualInfo-container #whoCanCome-container #whoCanCome-header {
        display: block;
        font-size: 26px;   
        padding-bottom: 15px; 
    }


    #whoCanCome-container {
        order: 4;
        height: 300px;
        width: auto;
        display: block;
        padding: 20px 0px;
        text-align: center;

    }

    #radio {
        display: block;
        width: 20%;
        position: absolute;
        top: -94px;
        right: 15px;
    }


 }
